body{
    font-family: 'Montserrat', sans-serif;
    /*background-image: url(../images/backgrounds/banner.webp);
    background-position: center center;
    height: 900px;
    background-size: 100% 100%;*/
}
a:hover{
    text-decoration: none;
}
.navbar .nav-link{
    color: rgb(0, 0, 0, 0.5);
}
.navbar .nav-link:hover{
    color: rgb(0, 0, 0, 0.8);
}
.font-xlarge{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.font-large{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}
.font-medium{
    font-size: 18px;
    letter-spacing: 1px;
}
.font-small{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 28px;
}
.font-xsmall{
    font-size: 12px;
}
.font-gray{
    color: gray;
}
.font-dark-gray{
    color: rgb(80, 80, 80);
}
.font-red{
    color: #e11315;
}
.custom-btn{
    background-color: #e11315;
    border: 1px solid transparent;
    padding: 8px 24px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.custom-btn:hover{
    background-color: transparent;
    border: 1px solid #e11315;
    color: #e11315;
}
.custom-outline-btn{
    background-color: transparent;
    border: 1px solid #e11315;
    padding: 8px 24px;
    border-radius: 30px;
    color: #e11315;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.custom-outline-btn:hover{
    background-color: #e11315;
    border: 1px solid transparent;
    color: white;
}
.custom-input{
    background-color: transparent;
    border: 1px solid gray;
    padding: 8px 24px;
    border-radius: 30px;
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
}
#join-btn-id{
    visibility: hidden;
}
.custom-input:not(:placeholder-shown)~#join-btn-id{
    visibility: visible;
}
.mobile-btn-container{
    display: none;
}
@media screen and (max-width: 600px){
    .mobile-btn-container{
        display: block;
    }
}

/*Navbar*/
.nav-shadow{
    -webkit-box-shadow: 0px 1px 10px #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 1px 10px #999;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 1px 10px #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.nav-btn-container{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px){
    .nav-btn-container{
        display: none;
    }
}

/*Features*/
.features-container{
    -webkit-box-shadow: 0px 20px 50px rgba(153, 153, 153,0.5);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 20px 50px rgba(153, 153, 153,0.5);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 20px 50px rgba(153, 153, 153,0.5);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.features-container .feature-icon i{
    font-size: 25px;
}
.features-container .feature-icon{
    border: 1px solid #bd1114;
    border-radius: 50%;
    padding: 18px;
    color: #bd1114;
    transition: all 0.3s ease;
}
.features-container .feature-box:hover .feature-icon{
    border: 1px solid #e11315;
    background-color: #e11315;
    color: white;
}

/*Footer*/
.footer-container{
    background-color: #eff2f8;
}
footer a{
    color: black;
}
footer a:hover{
    color: #e11315;
}
.end-footer-container{
    background-color: white;
}


/*Sign In Page*/
.sign-in-box{
    -webkit-box-shadow: 0px 1px 4px #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 1px 4px #999;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 1px 4px #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.sign-in-container input{
    display: block;
    border: transparent;
    margin-bottom: 6px;
    font-size: 14px;
    box-shadow: 0px 1px 5px gainsboro;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.social-btn{
    border: 1px solid gainsboro;
    border-radius: 50%;
}
.sign-in-container .checkbox-input{
    display: inline;
}

/*Register Page*/
.register-box{
    -webkit-box-shadow: 0px 1px 4px #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 1px 4px #999;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 1px 4px #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.register-container input{
    display: block;
    border: transparent;
    margin-bottom: 6px;
    font-size: 14px;
    box-shadow: 0px 1px 5px gainsboro;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.social-btn{
    border: 1px solid gainsboro;
    border-radius: 50%;
}
.register-container .checkbox-input{
    display: inline;
}